<div class="private-square span7 offset4 text-center">
 <h1>-

 Stan's Site!
  
 </h1>

  <br/>
  
  <%= link_to 'Launch', posts_path, :class => 'btn btn-success btn-large'  %>

  <meta name="viewport" content="initial-scale=1">
  
</div>